BM_money
allgoldexpire
bbsadm
bbsmail
bbspost
bfinger
brdshmctl
byte
camera
clrdir
cna
delspam
emailist
enews-open
expire
fixtool/buildetc
fixtool/buildir
fixtool/buildnames
fixtool/change_brd_expire
fixtool/log
fixtool/rebrd
fixtool/rebrd_max
fixtool/repasswd
fixtool/repasswd_online
fixtool/show_login
fixtool/transaloha
fixtool/transb
fixtool/transboard
fixtool/transbpal
fixtool/transpal
fixtool/transpass
fixtool/transvote
hfinger
hint
initbbs
mailpost
mandex
openticket
query
rmtrash
rmtusr
setboard
setuser
showb
showboard
showdir
showuser
statool/account
statool/admin
statool/birth
statool/bm_check
statool/gnp
statool/horoscope
statool/poststat
statool/sexcount
statool/topboard
statool/topexp
statool/topgold
statool/toplimit
statool/toplogin
statool/topmoney
statool/topmsg
statool/toppersonal
statool/toppost
statool/topquery
statool/toptime
statool/voteboard
statool/yearsold

